* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}


header {
    height: 70px;

    background-color: black;
}

main {
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 140px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background-color: black;
}

.person {
    width: 190px;
    height: 125px;
    border: 1px solid black;
    background-image: url(../img/image.jpg);
    margin: 2px;
}

footer {
    justify-content: space-between;
    display: flex;
    height: 70px;
    align-items: center;
    text-align: center;

    background-color: #222222;
}

.footer-actions {
    display: flex;
    justify-content: space-between;
    width: 165px;
    color: white;
}

.footer-icon-element {
    text-align: center;
}

.footer-icon {
    font-size: 16px;
}

.arrow {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
